 {% extends "base.html" %}
{% load static %}
<title>{%block title%} Home {% endblock %}</title>

 {% block content %}
<section class="hero-gradient rounded-4 p-4 mb-5 text-white">
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h1 class="display-5 fw-bold mb-2">Smart Crop Recommender</h1>
            <p class=" text-white-50 mb-3">
                Enter soil & weather parameters to get instant,ML-powered crop suggestions.
                clean UI,secure accounts,and detailed history-all in one place.
            </p>
            <div class="d-flex flex-wrap gap-2">
                {% if user.is_authenticated and user.is_staff %}
                <a href="" class="btn btn-light">
                    <i class="fa-solid fa-gauge"></i>Admin Dashboard
                </a>

                <a href="" class="btn btn-outline-light">
                    <i class="fa-solid fa-table"></i>view Predictions
                </a>
                {% elif user.is_authenticated and not user.is_staff %}
                 <a href="" class="btn btn-light">
                    <i class="fa-solid fa-wand-magic-sparkles"></i>Predict Now
                </a>

                 <a href="" class="btn btn-outline-light">
                    <i class="fa-solid fa-clock-rotate-left"></i>My History
                </a>
                {%else %}
                <a href="" class="btn btn-light">
                    <i class="fa-solid fa-right-to-bracket"></i>User Login
                </a>

                <a href="" class="btn btn-outline-light">
                    <i class="fa-solid fa-user-plus"></i>Create Account
                </a>

                <a href="" class="btn btn-outline-light">
                    <i class="fa-solid fa-lock"></i>Admin Login
                </a>
             {% endif %}
            </div>
            <div class="mt-3 text-white-50">
                <i class="fa-solid fa-shield-halved me-1"></i> Your Prediction are saved privately in your account
            </div>
        </div>
        <div class="col-lg-5 mt-4">
            <img src="{% static 'images/about.png' %}" style="max-height:350px" class="img-fluid rounded-4 shadow-lg" alt="" >

        </div>
    </div>
    <div class="row g-3 mt-4">
        <div class="col-sm-6 col-lg-3">
            <div class="stat-tile">
                
                    <div class="state-title">Users</div>
                    <div class="state-value">5</div>
               
            </div>

        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="stat-tile">
                
                    <div class="state-title">Predictions</div>
                    <div class="state-value">10</div>
               
            </div>

        </div>
    </div>
</section>

{% endblock  %}